*
{
    margin: 0;
    padding: 0;

}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;

}
.navbar-nav li a
{
    color: #fff!important;
    float: right;
    text-align: left;
}
.fa-bars
{
    color: #fff;
    font-size: 30px;
}
#nav-bar ul li a:hover
{



}


.navbar
{
    background-image: linear-gradient(to right, #85F009,#35AE0A);
    padding: 0 !important;
}

.navbar-toggler
{

    outline: none!important;
}

.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}
/* --- wave stuff ---*/


.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}


/*********************/



/*---------- Banner Section ---------*/
#banner
{
    background-image: linear-gradient(to right, #85F009,#35AE0A);
    color: #fff;


}
.promo-title
{

    font-size: 57px;
    font-weight: 450;
    margin-top: 100px;

}
.fun-logo{
  font-size: 20px;
}
.play-btn
{
    width: 45px;
    margin: 20px;

}
#banner a
{
    color: #fff;
    text-decoration: none;
}
.bottom-img
{
    width: 100%;

}

/*section 1*/


.section-1{
  padding-top: 300px;
  /*padding: 20vmin 0;*/
}


.section-1 .row .col-md-6 .pray img{
  opacity:0.8;
  width: 80%;
  border-radius: 1em;
}

.section-1 .row .col-md-6:last-child{
  position: relative;
}



.section-1 .row .col-md-6 .panel{
  position: absolute;
  top: 7vmin;
  left: -18vmin;
  background: white;
  border-radius: 20px;
  text-align: left;
  padding: 5vmin 5vmin 5vmin 10vmin;
  box-shadow:0px 25px 42px rgba(0,0,0,0.2);
  z-index: 1;

}

.Process {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}
#about-us .container .row .col-md-12 .Process{

  position: relative;
  top: 7vmin;
  background: white;
  border-radius: 20px;
  text-align: left;
  padding: 5vmin 5vmin 5vmin 5vmin;
  box-shadow:0px 25px 42px rgba(0,0,0,0.2);
  z-index: 1;
}






/*--- Services ---- */
#service-images{

  padding-top: 50px;
}


#services
{
  padding-top: 440px;
    /*padding: 10px ;*/
}

.title
{
    padding: 150px;

}
#whatWeDo
{
    color: #35AE0A;
    padding-bottom: 66px;
    font-size: 60px;
}
#whyChooseUs{
  color: #35AE0A;
  font-size: 60px;
  padding-bottom: 20px;
}
#teamSectionTitle{
  color: #35AE0A;
  font-size: 60px;
  padding-bottom: 60px;

}


.example_d {
color: #20bf6b !important;
text-transform: uppercase;
background: #ffffff;
padding: 20px;
border: 4px solid #20bf6b !important;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
text-decoration: none;
}

.example_d:hover {
color: #494949 !important;
border-radius: 50px;
border-color: #494949 !important;
transition: all 0.3s ease 0s;
text-decoration: none;
}



/*
#teamSectionTitle::before
{
    content: '';
    background-color: #35AE0A;
    height: 5px;
    width 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 20px;

    transform: translateY(63px);
}
*/

.services-img
{
    width: 100px;
    margin-top: 20px;
}
.services
{
    padding: 10px;
}

.services h4
{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}


.btn-primary
{
   margin: 5%;
}
#services .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #85F009,#35AE0A);
}


#services .btn-primary:hover
{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* ------ about us -------*/
#about-us
{
  /*  background: #f8f9fa; */
    background: white;

    padding-top: 150px;
}
.about-title
{
    font-size:30px;

    margin-top: 2%;
}
#about-us ul li
{
    margin: 10px 0;
}
#about-us ul
{
    margin-left: 20px;
}
 .turtle img
{
    border-radius: 5px;
}

#whyus
{
    color: #35AE0A;
}

/* partner button */
.partner{
  border: 1px solid #85F009;
  background: none;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
}

/* ------ TESTIMONIALS ------*/


#testimonials
{
    margin: 100px 0;
}
.testimonials
{
    border-left: 4px solid #35AE0A;
    margin-top: 50px;
    margin-bottom: 50px;
}
.testimonials img
{
    height: 60px;
    width: 60px;
    border-radius: 100px;
    margin: 0 10px;
}
.user-details
{
    display: inline-block;
    font-size: 12px;
}




/* -----------BLOG CAROUSEL ----------- */
.gallary-block{
  padding-top: 400px;
  margin-bottom: 40px;
}

.gallary-block .heading{
  margin-bottom: 50px;
  text-align: center;
}

.gallary-block .heading h1 {
  font-size: 60px;
}

.gallary-block.cards-gallary h6{
  font-size: 17px; font-weight: bold;
}

.gallery-block.cards-gallary .card{
  transition: 0.4s easy;
}
/*
.gallary-block.cards-gallary .card img{
  box-shadow: 0px 2px 10px rgba(0,0,0.15);
}
*/

.gallary-block.cards-gallary .card-body{
  text-align: center;
}

.gallary-block.cards-gallary .card-body p{
  font-size: 15px;
}
.gallary-block.cards-gallary a{
  color: #35AE0A
}
.gallary-block.cards-gallary a:hover{
  text-decoration: none;
}
.gallary-block.cards-gallary .card{
  margin-bottom: 30px;
  boz-shadow: 0px 2px 10px rgba(0,0,0,0.15);
}
@media (min-width: 576px){
  .gallary-block .transform-on-hover:hover{
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0px 10px 10px rgba(0,0,0,0.15) !important;
  }

}




/* ----------- END BLOG CAROUSEL ----------- */





/*---------- our team ------*/

#team
{
    /*background: #f8f9fa;*/
    background: white;
    padding-top: 80px;
    padding-bottom: 90px;
}

.img-responsive
{
    height: 320px;
    width: 250px;
    border-radius: 5px;

}
.profile-pic
{
    margin-top: 25px;
}
.profile-pic .img-box
{
   opacity: 1;
    display: block;
    position: relative;
}
.profile-pic .img-box img
{
   filter: grayscale(1);

}

.profile-pic .img-box img:hover
{
   filter: grayscale(0);
    cursor: pointer;

}
.profile-pic h2
{
    font-size:22px;
    font-weight: bold;
    margin-top: 15px;
    color: #35AE0A !important;
}
.profile-pic h3
{
    font-size:15px;
    font-weight: bold;
    margin-top: 15px;

}
#team .fa
{
    height: 25px;
    width: 25px;
    color: #007bff !important;
    background: #fff;
    padding: 4px;
    border-radius: 50%;
}
.img-box ul
{
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    opacity:  0;
}
.img-box ul li
{
    padding: 5px;
    display: inline-block;

}
.img-box:hover ul
{
    opacity: 1;
}
.img-box ul, .img-box ul li
{
    transition: 0.5s;
}


/* GET IN TOUCH */

#contact
{
    background-color: #efefef ;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #000;
}
.contact-form
{
    padding: 15px;
}

#contact .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #85F009,#35AE0A);
}
#contact .btn-primary:hover
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.form-control
{
    border-radius: 0 !important;
    border: none !important;
}
::placeholder
{
    color: #999 !important;
}
.follow
{
    background: #fff;
    padding: 10px;
    margin: 15px;
}
.contact-info .fa
{
    margin: 10px;
    color: #85F009;
    font-weight: bold;
}
